@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

@tailwind utilities;

@import "tailwindcss";

:root {
  --color-primary: hsla(33, 50%, 90%);

  --color-secondary: hsl(33, 50%, 10%);
  --color-secondary-90: hsla(33, 50%, 10%, 0.9);
  --color-secondary-80: hsla(33, 50%, 10%, 0.8);
  --color-secondary-70: hsla(33, 50%, 10%, 0.7);
  --color-secondary-60: hsla(33, 50%, 10%, 0.6);
  --color-tertiary: hsl(333, 80%, 20%);
  --color-accent: hsl(93, 80%, 20%);
  --color-accent-90: hsla(93, 80%, 20%, 0.9);
  --color-accent-80: hsla(93, 80%, 20%, 0.8);
  --color-accent-70: hsla(93, 80%, 20%, 0.7);
  --color-accent-60: hsla(93, 80%, 20%, 0.6);
  --color-accent-50: hsla(93, 80%, 20%, 0.5);
  --color-accent-40: hsla(93, 80%, 20%, 0.4);
  --color-accent-30: hsla(93, 80%, 20%, 0.3);
  --color-accent-20: hsla(93, 80%, 20%, 0.2);
  --color-accent-10: hsla(93, 80%, 20%, 0.1);

  background-color: var(--color-primary);
}
.dark {
  --color-primary: hsl(33, 50%, 10%);
  --color-secondary: hsl(33, 50%, 90%);
  --color-tertiary: hsl(333, 80%, 80%);
  --color-accent: hsl(93, 80%, 80%);
  --color-accent-90: hsla(93, 80%, 80%, 0.9);
  --color-accent-80: hsla(93, 80%, 80%, 0.8);
  --color-accent-70: hsla(93, 80%, 80%, 0.7);
  --color-accent-60: hsla(93, 80%, 80%, 0.6);
  --color-accent-50: hsla(93, 80%, 80%, 0.5);
  --color-accent-40: hsla(93, 80%, 80%, 0.4);
  --color-accent-30: hsla(93, 80%, 80%, 0.3);
  --color-accent-20: hsla(93, 80%, 80%, 0.2);
  --color-accent-10: hsla(93, 80%, 80%, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
